.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
  width: 200px;
  padding: 20px;
  color: white;
}

#bg {
  position: fixed;
  top: 0;
  left: 0;
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
  z-index: 1;
}

#vr {
  position: relative;
  top: 0;
  left: 0;
  /* Preserve aspet ratio */
  max-width: 200%;
  max-height: 200%;
  z-index: 2;
}

a {
  text-align: center;
}
